/* styles.css */

/* Hide the original file input */
input[type="file"] {
    display: none;
}

/* Style the custom button */
.file-input-container button {
    padding: 10px 20px; /* Adjust as needed */
    font-size: larger; /* Adjust as needed */
    cursor: pointer;
}

/* Media query for smaller screens if needed */
@media only screen and (max-width: 768px) {
    .file-input-container button {
        padding: 15px 25px; /* Adjust as needed */
        font-size: larger; /* Adjust as needed */
    }
}
