/* styles.css */

/* CSS for button size */
button[type="submit"],
input[type="file"] {
    padding: 10px 20px; /* Adjust as needed */
    font-size: larger; /* Adjust as needed */
}

/* CSS for disclaimer font size */
#disclaimer {
    font-size: larger !important; /* Adjust as needed */
}

/* Hide the original file input */
input[type="file"] {
    display: none;
}

/* Style the custom button */
.file-input-container button,
.submit-button-container button {
    padding: 10px 20px; /* Adjust as needed */
    font-size: larger; /* Adjust as needed */
    cursor: pointer;
    display: inline-block; /* Align buttons horizontally */
    vertical-align: middle; /* Align buttons vertically with input fields */
}

/* Add spacing between input fields */
.input-container {
    margin-bottom: 20px; /* Adjust as needed */
}

/* Add spacing between buttons */
.submit-button-container {
    margin-top: 10px; /* Adjust as needed */
}

/* Specify fixed width for labels */
.input-container label {
    display: inline-block;
    width: 150px; /* Adjust as needed */
    text-align: right;
    margin-right: 20px; /* Adjust as needed */
}
